#
# XtractPDF Configuration
# =========================================

#
# Uploads path
#
# Relative to application basepath,
# or with a full path with preceding slash
#
uploads: uploads

#
# Deploy Mode [private, demo]
#
# If 'demo', data is not saved after current sesion ends
#
deploymode: private

#
# Logpath Destination
#
# Relative to application basepath,
# or with a full path with preceding slash
#
logpath: logs

#
# Mongo Database Settings
#
mongodb:
    connstring: mongodb://localhost:27017
    dbname:     xtractpdf