<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block pagetitle %}XtractPDF{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block base_headers %}
        <meta name='author' content='Casey McLaughlin' />
        <meta name='description' content='Convert scholarly PDFs to JATS-XML' />
        <meta name='keywords' content='PDF, TXT, JATS, XML, Portable Document Format, Convert PDF, PDF to XML, Extract PDF' />

        {# CDN Resources #}
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">

        {# Local Resources #}
        <link href="{{ base_url }}/assets/vendor/prettify-bs.css" type="text/css" rel="stylesheet" />
        <link href="{{ base_url }}/assets/main.css" type="text/css" rel="stylesheet">
        {% endblock %}

        {% block page_headers %}
        {% endblock %}
    </head>
    <body class='{{ page_class | default('normal') }}'>
        
        <header id='main-header'>
            <div id='header-left'>
                <div class='header-content'>
                    <h1 id='main-title'>XtractPDF</h1>
                    <ul id='main-nav' rel='navigation' class="nav nav-pills">
                        <li><a href='{{ url('library') }}'>Library</a></li>
                        <li><a href="{{ url('about') }}">About</a></li>
                    </ul>
                </div>
            </div>

            <div id='header-right'>
                <div class='header-content'>                
                {% block page_topbar_content %}
                {% endblock %}
                </div>
            </div>
        </header>

        <div id='page_content' rel='main'>
        {% block page_content %}
        {% endblock %}
        </div>
 
        {% block base_js %}
            {# CDN Resources #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <script src='//code.jquery.com/ui/1.10.3/jquery-ui.min.js'></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
            <script src='//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js'></script>

            {# Local Vendor Scripts #}
            <script type='text/javascript' src='{{ base_url }}/assets/vendor/jquery-form.js'></script>
            <script type='text/javascript' src='{{ base_url }}/assets/vendor/jquery-autosize.js'></script>
            <script type='text/javascript' src='{{ base_url }}/assets/vendor/prettify/prettify.js'></script>

            {# Local Application Scripts #}
            <script> DEBUG = {{ debug_mode ? 'true' : 'false' }}</script>
            <script type='text/javascript' src='{{ base_url }}/assets/main.js'></script>
        {% endblock %}
        
        {% block page_js %}
        {% endblock %}
    </body>
</html>